form.new_page {
  @include float-left;
}

ul#groups {
  @include float-left;
  width: 595px;
  margin-left: 25px;
  padding-left: 25px;
  border-left: 1px solid $black;

  > li {
    margin-bottom: 50px;
  }
}

ul.pages {
  margin-left: 25px;
}
