$margin: 15px;

input { outline: none; }

input[type=text] {
  @include text-input;
  margin: 0 0 $margin 0;
}

input[type=submit] {
  @include helvetica(24px);
  @include single-transition(background, 0.15s, ease-in-out);
  @include button;
  padding: 10px;
  width: 252px;
}

select {
  width: 252px;
  margin: 0 0 $margin 0;
}
