h3 Bookmark this page, or just come back to bitchmark.me (we've cookied you so your shit will always be here.)
h3 Drag this link #{link_to 'Bitchmark', bookmarklet_js, title: 'Bitchmark'} to your browser toolbar to use the bitchmark bookmarklet.
h3 == open_source_message

#sidebar

ul#groups.sort data-update-url="#{sort_api_groups_path}"
